.contain_out {
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
  // height: 96vh;
  // height: 100%;
  background-image: url("./bac.png");
  background-size: cover;
  background-position: center;
}

.contain {
  width: 100%;
  height: 70px;
  margin-left: 30px;

  // background-color: aqua;
  .contain_inner {
    width: 95%;
    // background-color: rgb(255, 214, 127);
    height: 120px;

    .left_out {
      width: 378px;
      height: 120px;
      // background-color: rgb(62, 197, 44);
      .left_out_pic {
        width: 120px;
        height: 120px;
        // background-color: rgb(197, 95, 44);
        img {
          width: 120px;
          height: 120px;
        }
      }

      .left_out_right {
        // background-color: firebrick;
        height: 120px;
      }

      .left_out_right_inner {
        // background-color: rgb(44, 62, 197);
        height: 74px;
        width: 228px;
        margin-left: 30px;
        margin-top: 26px;
      }
    }

    .right_out {
      height: 120px;
      // background-color: #792525;
      .right_out_inner {
        // background-color: rgb(44, 62, 197);
        width: 875px;
        height: 71px;
        display: flex;
        margin-left: 230px;

        .box {
          width: 154px;
          height: 71px;

          .box_left {
            width: 110px;
            height: 71px;

            .p1 {
              background: linear-gradient(
                to right,
                #5924ffff,
                #20dfffff
              ); /* 背景设置渐变 */
              -webkit-background-clip: text; /* 使用文本作为背景裁剪 */
              color: transparent; /* 文字颜色设为透明，以显示背景渐变 */
              font-size: 36px;
              font-weight: bold;
            }

            .p2 {
              font-size: 13px;
              font-weight: bold;
              color: #cbd2d5ff;
            }

            img {
              width: 1px;
              height: 70px;
            }
          }
        }
      }
    }
  }
}

.contain_center {
  width: 100%;
  height: 350px;
  // background-color: rgb(184, 255, 32);

  .contain_center_inner {
    height: 335px;
    width: 100%;
    margin-left: 40px;
    // background-color: rgb(255, 169, 32);

    .box {
      display: flex;
      align-items: center;
      margin-left: 30px;
      margin-top: 30px;
      width: 313px;
      height: 128px;
      background-image: url("./border.jpg");
      background-size: 100% 100%;
      background-position: center;
      // background-color: #20dfffff;
      .box_inner {
        margin-left: 24px;
        width: 250px;
        height: 85px;
        // background-color: rgb(58, 255, 32);

        .p1 {
          font-size: 18px;
          font-weight: bold;
          color: #d5dde0ff;
        }

        .p2 {
          font-size: 60px;
          font-weight: bold;
          color: #d5dde0ff;
        }
      }
    }
  }
}

.contain_footer {
  width: 100%;
  height: 550px;
  // background-color: rgb(73, 255, 32);
  margin-top: 200px;

  .contain_center_inner {
    height: 100%;
    width: 100%;
    margin-left: 40px;
    // background-color: rgb(255, 169, 32);
    .head {
      margin-right: 60px;
    }

    .box {
      display: flex;
      align-items: center;
      margin-left: 30px;
      width: 100%;
      height: 292px;
      // background-color: #20dfffff;

      .ec {
        display: flex;
        height: 100%;
        // width: 100%;
        margin-left: 10px;
        // background-color: rgb(143, 255, 32);
        .ec_inner {
          margin-left: 157px;
          width: 90%;
          height: 281px;
          // background-color: rgb(255, 32, 229);
        }
      }
    }
  }
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_col_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_col_start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex_col_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex_grow {
  flex: 1;
}

/* 标题样式 */
.clearfix {
  height: 20px;
  img {
    width: 5px;
    height: 20px;
  }
  .clearfix_text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: top;
  }
}